.button,
a.button {
	-webkit-appearance: none;
	background-color: $gray1;
	border: 0;
	border-radius: 5px;
	box-shadow: none;
	color: $gray8;
	cursor: pointer;
	display: inline-block;
	font-family: $fontFamily;
	font-size: 0.95em;
	padding: 0 1.8rem;
	position: relative;
	left: 0;
	line-height: 2.7em;
	outline: none;
	text-align: center;
	top: 0;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

	.app &:hover {
		background-color: $gray2;
		color: $gray8;
	}

	&:active {
		left: 1px;
		top: 1px;
	}

}

.button-block,
.button-mobile {
	display: block;
	width: 100%;
}

.button-inverted,
a.button-inverted {
	background-color: $gray7;
	color: $gray2;

	.app &:hover {
		background-color: $gray6;
		color: $gray2;
	}
}

.button-inflate,
a.button-inflate {
	font-size: 1.3em;
	line-height: 1em;
	padding: 1rem 2.2rem 0.8rem;
}

.button-deflate,
a.button-deflate {
	font-size: 0.7em;
	line-height: 2rem;
	padding: 0 1rem;
}

@media only screen and (min-width: $breakpointMobile) {
    .button-mobile {
        display: inline-block;
        width: auto;
    }
}
