.card {
    background: $gray8;
    border: 1px solid $transparentBorder;
    border-radius: 5px;
}

.card-inner,
.card-padded {
    padding: 1rem;
}

.card-image {
    height: auto;
    max-width: 100%;
    width: 100%;
}
