.cover {
	align-items: center;
	background-color: $gray1;
	background-size: cover;
	background-position: center center;
	display: flex;
	height: 20rem;
	max-height: 60vh;
	min-height: 20rem;
	padding: 2rem 4rem;
	position: relative;
	transition: height 0.4s linear;
}

.cover-portrait {
	align-items: flex-end;
	justify-content: center;
}

.cover h1 {
	background: rgba(29,31,32,0.97);
	bottom: 2rem;
	color: #fff;
	font-size: 2.25rem;
    left: calc((100vw - 100%) * -1);
	margin: 0;
	padding: 1rem 2rem;
	position: absolute;
	width: auto;
	z-index: 1;
}

.cover-image img {
	bottom: 2rem;
	position: absolute;
	z-index: 0;
	right: 2rem;
	max-width: calc(100% - 4rem);
}

.cover-portrait img {
  	border: 2px solid $gray8;
	border-radius: 5px;
	bottom: -100px;
	position: relative;
	z-index: 0;
	width: 75%;
	max-width: 300px;
}

.cover-with-title {
	margin: 0 0 0 5%;
	max-width: 95%;
}

@media only screen and (min-width: $breakpointMobile) {
    .cover {
        height: 30rem;
		margin: 0 0 0 1.5rem;
		max-width: calc(100vw - 1.5rem);

		&.cover-portfolio {
			align-items: flex-start;
		}
    }

    .cover-portrait img {
        bottom: -184px;
    }

	.cover-with-title {
		h1 {
    		bottom: 3rem;
			font-size: 3rem;
			left: -1.5rem;
		}
	}
}

@media only screen and (min-width: $breakpointDesktop) {
	.cover {
		height: 34rem;

		&.cover-portfolio {
			overflow: hidden;

			img {
	    		bottom: -4rem;
				width: 64rem;
			}
		}
	}

	.cover-with-title {
		h1 {
			font-size: 3.8rem;
		}
	}
}

@media only screen and (min-width: $breakpointDesktopMax) {
	.cover {
		height: 36rem;
		margin: 0 auto;
		width: $breakpointDesktopMax;

		&.cover-portfolio {
			width: 100%;

			h1 {
				margin-left: auto;
				margin-right: auto;
				max-width: $breakpointDesktopMax;
				padding: 0 2rem;
			}

			img {
	    		bottom: -5rem;
				margin-right: -44rem;
				right: 50%;
				width: 72rem;
			}
		}
	}
}
