footer {
    background-color: $gray1;
    color: $gray6;
    overflow:hidden;
    padding: 3rem 0;

    .contain {
        position: relative;
    }

    .logo {
        cursor: default;
        font-size: 450%;
        position: absolute;
        top: -2.5rem;
        opacity: 0.1;
        transform: rotate(-7deg);
        right: 2rem;
    }

    .logo-text {
        left: -5px;
        letter-spacing: -10px;
    }

    .grid {
        margin: 0 -0.75rem;
    }
}
