.form-group {
    padding: 2rem 0 0;
    position: relative;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid $gray5;
    border-radius: 5px;
    color: $gray5;
    display: block;
    font-weight: 500;
    height: 2.75rem;
    padding: .9rem .75rem .75rem;
    position: relative;
    transition: border 0.3s ease, color 0.3s ease;
    width: 100%;
    z-index: 1;

    &:focus {
        border: 1px solid $gray3;
        color: $gray3;
        outline: none;
    }

    &:focus + label {
        color: $gray3;
        left: 0;
        top: -0.1rem;
    }

    &.input-valid {
        border-color: $green1;
        color: $green1;

        & + label {
            color: $green1;
        }
    }

    &.input-invalid {
        border-color: $red1;
        color: $red1;

        & + label {
            color: $red1;
        }
    }

}

textarea {
    min-height: 14rem;
}

label {
    color: $gray4;
    left: 0.75rem;
    line-height: 2.75rem;
    position: absolute;
    top: 2.05rem;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 0;

    .fixed & {
        left: 0;
        top: -0.1rem;
    }
}

.input-error {
    font-size: 0.8rem;
    color: $red1;
    padding: 0.75rem 0;
}

.input-submit-error {
    color: $red1;
    margin: 2rem 0;
}

.input-submit-success {
    align-items: center;
    background: rgba(251, 253, 254, 0.95);
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 4;

    .icon-heading {
        font-size: 5em;

        li {
            display: inline-block;
            margin: 0 0.5rem 0 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
