.navigation {
    padding: 0;
}

.navigation-list {
    transition: all 0.3s ease-in-out;

    li {
        display: inline-block;
        margin-top: 0;
        opacity: 1;
        padding: 0 0.15rem;
        transition: all 0.6s ease;

        &:nth-child(2) {
            display: none;

            @media only screen and (min-width: $breakpointMedium) {
                display: inline-block;
            }
        }

        &.navigation-list-title {
            display: none;
        }

        &:last-of-type,
        &:last-of-type > a {
            padding-right: 0;

        }

        @media only screen and (min-width: $breakpointMobileSmall) {
            padding: 0 0.5rem;
        }

        @media only screen and (min-width: $breakpointDesktop) {
            font-size: 1.1em;
        }
    }

    a {
        color: $gray3;
        display: block;
        line-height: 2.5rem;
        padding: 0 0.25rem;
        position: relative;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $gray2;
        }
    }

    .navigation-list-item--desktop {
        display: none;

        @media only screen and (min-width: $breakpointMedium) {
            display: inline-block;
        }
    }

    .navigation-list-item--mobile {
        display: inline-block;

        @media only screen and (min-width: $breakpointMedium) {
            display: none;
        }
    }
}
