.contact-title {
    line-height: 1.15em;
    margin-bottom: 0.5rem;
    padding: 0 0 0 2.64rem;
    position: relative;

    .twa {
        left: 0;
        position: absolute;
        top: 0;
    }
}

.contact-subtitle {
    font-size: 1.25em;
    margin-bottom: 1.5rem;
    padding: 0 0 0 2.64rem;
}
