.page-home {
    header {
        margin-top: -2rem;
        opacity: 0;
        transition: all 0.6s ease-in;
    }

    .intro-text-bottom {
        opacity: 0;
        top: 1rem;
        transform: scale(0.95);
        transition: opacity 0.6s ease-in, top 0.6s ease-in, transform 0.6s ease-in;

        @media only screen and (min-width: $breakpointDesktop) {
            top: -0.8rem;
        }
    }

    .intro-text-top {
        opacity: 0;
        top: 1rem;
        transform: scale(0.95);
        transition: opacity 0.6s ease-in, top 0.6s ease-in, transform 0.6s ease-in;

        @media only screen and (min-width: $breakpointDesktop) {
            top: 2.8rem;
        }
    }

    .intro-image {
        opacity: 0;
        transform: scale(0.98);
        transition: opacity 0.6s ease-in, transform 0.6s ease-in;
    }
}

.page-home-enter {
    header {
        margin-top: 0;
        opacity: 1;
        transition-delay: 2s;
    }

    .intro-image {
        opacity: 1;
        transform: scale(1);
        transition-delay: 2s;
    }

    .intro-text-bottom {
        opacity: 1;
        top: 0;
        transform: scale(1);
        transition-delay: 1s;

        @media only screen and (min-width: $breakpointDesktop) {
            top: -1.8rem;
        }
    }

    .intro-text-top {
        opacity: 1;
        top: 0rem;
        transform: scale(1);
    }

    @media only screen and (min-width: $breakpointDesktop) {
        top: 1.8rem;
    }
}

.page-home-bio {
    text-align: center;
}

.page-home-bio-img {
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 0 auto 2rem;
    max-width: 20rem;
    width: 100%;
}

.page-home-intro > h1 {
    margin-bottom: 0;
}

.page-home-callouts .grid-spread-4 {
    padding: 0 0 0.8rem;
}

@media only screen and (min-width: $breakpointMobile) {
    .page-home-callouts .grid-spread-4:first-child {
        padding: 0 0.8rem 0 0;
    }
    .page-home-callouts .grid-spread-4:nth-child(2) {
        padding: 0 0.4rem;
    }
    .page-home-callouts .grid-spread-4:last-child {
        padding: 0 0 0 0.8rem;
    }

    .home-page-bio-grid {
        display: flex;
        text-align: left;
    }

    .page-home-bio-excerpt {
        flex: 1 auto;
        width: calc(100% - 16rem);
    }

    .page-home-bio-img {
        margin: 0 2rem 0 0;
        min-width: 16rem;
        width: 16rem;
    }
}
