.about-me-bio {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem 0 0;
    width: 43rem;

    li {
        border-bottom: 1px dashed $gray7;
        padding: 1.25rem;

        &:first-child {
            border-top: 1px dashed $gray7;
        }
    }
}
