.page-blog {
    .collection {
        margin: -3rem -1rem 0;
    }
}

.blog-categories {
    .button + .button {
        margin: 0 0 0 1rem;
    }
}

.blog-recent-posts-title {
    padding-top: 2rem;
}
