.pill {
    background: $whiteTransparent;
    border-radius: 3rem;
    color: $gray8;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0.5rem 0.5rem 0;
    padding: .5rem 1rem;

    @media only screen and (min-width: $breakpointMobile) {
        background: $whiteSemiTransparent;
        color: #fff;
    }
}
