.portfolio-list-item-image {
    width: 100%;
}

.portfolio-list-item {
    border: 0;
    display: inline-block;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    width: 100%;

    .portfolio-list-item-link {
        display: block;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    * {
        transition: opacity 0.7s ease;
    }

    h5 {
        color: $gray2;
        margin: 0;
        overflow: hidden;
        padding: 0 0 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h6 {
        color: $gray5;
        font-size: 0.8em;
        line-height: 1em;
        margin: 0;
        overflow: hidden;
        padding: 0.5rem 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    p {
        color: $gray2;
        font-size: 1em;
        height: 8rem;
        line-height: 1.2em;
        margin: 0 0 1rem;
        overflow: hidden;
        padding: 0;
        position: relative;

        &::after {
            background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,1));
            bottom: 0;
            content: '';
            height: 10rem;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    span {
        bottom: 1rem;
        margin: 0;
        position: absolute;
        right: 1rem;
    }

    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -4.4rem;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .app &:hover {
        img, h5, h6, p {
            opacity: 0.1;
        }

        span {
            opacity: 0;
        }

        .button {
            margin: -1.5rem 0 0 -4.4rem;
            opacity: 1;
        }

        .border-box-bottom,
        .border-box-top {
            left: 0;
            opacity: 1;
        }

        .border-box-left,
        .border-box-right {
            opacity: 1;
            top: 0;
        }
    }
}

.border-box-bottom,
.border-box-left,
.border-box-right,
.border-box-top {
    background: $gray4;
    position: absolute;
    opacity: 0;
    transition: all 0.7s ease;
}

.border-box-bottom {
    bottom: 0;
    height: 1px;
    left: 100%;
    width: 100%;
}

.border-box-left {
    height: 100%;
    left: 0;
    top: 100%;
    width: 1px;
}

.border-box-right {
    height: 100%;
    right: 0;
    top: -100%;
    width: 1px;
}

.border-box-top {
    height: 1px;
    left: -100%;
    top: 0;
    width: 100%;
}

@media only screen and (min-width: $breakpointMobileSmall) {
    .portfolio-list-item {
        width: 50%;
    }
}

@media only screen and (min-width: $breakpointMedium) {
    .portfolio-list-item {
        width: 33.33333333%;
    }
}

@media only screen and (min-width: $breakpointDesktop) {
    .portfolio-list-item {
        width: 25%;
    }
}
