.timeline {
	list-style-type: none;
	margin: 1rem auto;
	max-width: 800px;
	padding: 5px 0;
	position: relative;
}

.timeline::after {
	background-color: $gray6;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 1px;
}

.timeline-item {
	padding: 15px 0 15px 25px;
	position: relative;
	width: 100%;

	&::after {
		background-color: #fff;
		border: 1px solid $gray6;
		border-radius: 50%;
		content: "";
		display: block;
		height: 13px;
		position: absolute;
		left: -7px;
		top: 21px;
		width: 13px;
		z-index: 2;
	}
}

.timeline-blob {
	background-color: #fff;
	border: 1px solid $gray6;
	border-radius: 3px;
	display: inline-block;
	padding: 35px 15px 15px;
	position: relative;
	text-align: left;

	p {
		color: $gray3;
		margin: 0;
		padding: 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 5px;
		left: -11px;
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-right: 10px solid $gray6;
		border-bottom: 8px solid transparent;
	}
}

.timeline-date {
	color: $gray4;
	font-size: 0.7em;
  	font-weight: 500;
	left: 15px;
	letter-spacing: 0.15em;
	position: absolute;
	text-align: left;
	text-transform: uppercase;
	top: 15px;
	width: 80%;
}

.timeline-heading {
	margin: 0;
	padding: 0;
}

.timeline-subtitle {
	color: $gray3;
	display: block;
	font-size: 1em;
	font-weight: 500;
	padding: 0 0 0.6em;
}

.personal-interests {
	margin: 0 auto;
	padding: 20px 0 60px;

	li {
		display: inline-block;
		padding: 0 15px 0 0;
	}

	li:last-child {
		padding: 0;
	}

	img {
		width: 50px;
		opacity: 0.9;
	}
}

@media only screen and (min-width: $breakpointMobile) {

	.timeline:not(.timeline-minimized) {
		padding: 20px 0;

		&::after {
			left: 50%;
			margin-left: 0;
		}

		.timeline-blob {
			padding: 15px;

			&::before {
				left: auto;
				right: -11px;
				border-left: 10px solid $gray6;
				border-right: 0;
			}
		}

		.timeline-date {
			left: calc(100% + 44px);
			top: 7px;
		}

		.timeline-item {
			padding: 15px 25px 15px 0;
			width: 50%;

			&::after {
				left: auto;
				right: -8px;
			}
		}

		.timeline-item:nth-child(even) {
			margin-left: 50%;
			padding: 15px 0 15px 25px;

			&::after {
				left: -7px;
				right: 0;
			}

			.timeline-blob::before {
				border-left: 0;
				border-right: 10px solid $gray6;
				left: -11px;
				right: auto;
			}

			.timeline-date {
				left: auto;
				right: calc(100% + 44px);
				text-align: right;
			}
		}
	}
}
