
$breakpointMobileSmall: 30rem;
$breakpointMobile: 37.5rem;
$breakpointMedium: 48rem;
$breakpointDesktop: 64rem;
$breakpointDesktopMax: 88rem;
$breakpointDesktopMaxPadded: 90rem;
$breakpointHeight: 40rem;
$breakpointHeightTall: 60rem;

$fontFamily: 'HaboroSans', Avenir, Helvetica, sans-serif;


$transparentBorder: rgba(24,24,24,0.15);

$gray1: #1D1F20;
$gray2: #404348;
$gray3: #80868C;
$gray4: #B0B4B1;
$gray5: #C1C5C2;
$gray6: #D9DBDC;
$gray7: #EAECED;
$gray8: #FBFDFE;

$blue1: #59ABE3;
$blue2: #22A7F0;

$green1: #26A65B;

$red1: #C91F37;

$whiteTransparent: rgba(251,253,254,0.1);
$whiteSemiTransparent: rgba(251,253,254,0.2);
