@import "../constants/styles/breakpoints.scss";

@keyframes wave-hand {
    0% {
        transform: rotate(0.0deg);
    }
    10% {
        transform: rotate(-10.0deg);
    }
    20% {
        transform: rotate(12.0deg);
    }
    30% {
        transform: rotate(-10.0deg);
    }
    40% {
        transform: rotate(9.0deg);
    }
    50% {
        transform: rotate(-7.0deg);
    }
    60% {
        transform: rotate(6.0deg);
    }
    80% {
        transform: rotate(-3.0deg);
    }
    90% {
        transform: rotate(2.0deg);
    }
    100% {
        transform: rotate(0.0deg);
    }
}

.home {
    align-items: center;
    display: flex;
    min-height: calc(100vh - 168px);
    text-align: center;

    & > div {
        width: 100%;
    }
}

.homeIntroTitle {
    font-size: 32px;
    margin: 16px 0;

    @include breakpoint-medium() {
        font-size: 64px;
        line-height: 60px;
        margin: 24px 0;
    }   
    
    @include breakpoint-large() {
        font-size: 84px;
        line-height: 92px;
    }
    
    @include breakpoint-extra-large() {
        font-size: 108px;
        line-height: 92px;
    }
}

.homeIntroText {
    font-size: 20px;

    @include breakpoint-medium() {
        font-size: 32px;
    }
    
    @include breakpoint-large() {
        font-size: 36px;
    }
    
    @include breakpoint-extra-large() {
        font-size: 42px;
    }
}

.wave {
    cursor: grab;
    display: inline-block;
    position: relative;

    &:hover {
        &::before {
            content: 'Hi there!';
            font-size: 15px;
            left: 80px;
            margin-top: -7px;
            position: absolute;
            top: 50%;
            width: 100px;
        }

        .waveEmoji {
            animation-iteration-count: infinite;
        }
    }
}

.waveEmoji {
    animation: wave-hand;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    display: inline-block;
    font-size: 48px;
    transform-origin: 70% 70%;
    
    @include breakpoint-medium() {
        font-size: 60px;
    }

    @include breakpoint-large() {
        font-size: 72px;
    }
}