@import "../../constants/styles/breakpoints";

body {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.page {
    position: relative;
    
    &::after, &::before {
        background: #fff;
        content: '';
        height: 20px;
        left: 12px;
        position: fixed;
        right: 12px;
        z-index: 10;

        @include breakpoint-medium() {
            height: 28px;
        }
    }

    &::after {
        bottom: 12px;
    }

    &::before {
        top: 12px;
    }
}

.page-border-bottom, .page-border-top {
    background: #1D1F20;
    height: 12px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.page-border-bottom {
    bottom: 0;
}

.page-border-top {
    top: 0;
}

.page-border-left, .page-border-right {
    background: #1D1F20;
    height: 100%;
    position: fixed;
    top: 0;
    width: 12px;
    z-index: 10;
}

.page-border-left {
    left: 0;
}

.page-border-right {
    right: 0;
}

.page-container {
    padding: 88px 32px 32px;

    @include breakpoint-medium() {
        padding: 96px 40px 40px;
    }
}

.page-title {
    font-size: 40px;
    margin: 24px 0 42px;
    
    @include breakpoint-medium() {
        font-size: 52px;
        margin: 20px 0 50px;
    }

    @include breakpoint-large() {
        font-size: 64px;
        margin: 36px 0 60px;
    }
}

/* --- Enter styles --- */

.page-transition-appear, .page-transition-enter {
    pointer-events: none;

    .page-border-bottom {
        left: 100%;
    }
    
    .page-border-top {
        left: -100%;
    }
    
    .page-border-left {
        top: 100%;
    }
    
    .page-border-right {
        top: -100%;
    }

    .page-content {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
}

.page-transition-appear-active, .page-transition-enter-active {
    .page-border-bottom, .page-border-top {
        left: 0;
        transition: left 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    
    .page-border-left, .page-border-right {
        top: 0;
        transition: top 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }
    
    .page-content {
        animation-fill-mode: both;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.6s ease-in, transform 0.6s ease;
        transition-delay: 0.2s;
    }
}

/* --- Exit styles --- */

.page-transition-exit {
    pointer-events: none;
    
    .page-border-bottom, .page-border-top {
        left: 0;
    }
    
    .page-border-left, .page-border-right {
        top: 0;
    }
    .page-content {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.page-transition-exit-active {
    .page-border-bottom {
        left: 100%;
        transition: left 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    .page-border-top {
        left: -100%;
        transition: left 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    .page-border-left {
        top: 100%;
        transition: top 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    .page-border-right {
        top: -100%;
        transition: top 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    .page-content {
        animation-fill-mode: both;
        opacity: 0;
        transform: translate3d(0, 40px, 0);
        transition: opacity 0.6s ease-in, transform 0.6s ease;
    }
}