@import "../../constants/styles/colors";

.about-tagline {
    background: $color-black;
    text-align: center;
}

.about-tagline-text {
    display: block;
    color: #fff;
    font-size: 36px;
    margin: 78px 0; 
    padding: 48px;
}