@media print {

    .page-resume {

        font-size: 14px;
        padding: 0;

        .button {
            display: none;
        }

        /* Left Column */
        .grid-spread-4 {
            width: 37%;

            .resume-list-item + .resume-list-item {
                padding: 1rem 0 0;
            }
        }

        /* Right Column */
        .grid-spread-8 {
            width: 63%;

            .resume-list-item + .resume-list-item {
                padding: 1.5rem 0 0;
            }

            .resume-list-item-employer::after {
                display: none;
            }

            .resume-list-item-left {
                padding: 0;
            }

            .resume-list-item-small {
                text-align: right;
            }

            .resume-list-item-title {
                margin: -2.5rem 0 0;
                padding: 0 0 1.5rem;
            }

        }

        & .grid-spread-4 + .grid-spread-8 {
            margin: 0;
        }

    }

    .resume-address {
        color: #80868C;
        font-size: 0.8em;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0.75rem;
    }

    a.resume-back-link {
        display: none;
    }

    .resume-desktop {
        display: block;
    }

    .resume-header {
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
        position: relative;
        margin: -3rem 0 0;

        figcaption {
            padding: 0 0 0 2rem;
            text-align: left;
        }
    }

    .resume-header-image {
        height: 7rem;
        width: 7rem;
    }

    .resume-list-item {
        font-size: 0.95em;
    }

    .resume-list-item-bullets {

        li {
            line-height: 1em;

            &::before {
                height: 0.3rem;
                top: 0.15rem;
                left: 0.15rem;
                width: 0.3rem;
            }

            & + li {
                margin: 0.25rem 0 0;
            }

        }

    }

    .resume-list-item-employer h5 {
        padding: 0.25rem 0;
    }

    .resume-list-item-skills {
        color: #80868C;
        font-size: 0.95em;

        &::before {
            padding: 0;
        }

        & li {
            font-size: 0.95em;
        }
    }

    .resume-list-item-small {
        color: #80868C;
    }

    .resume-list-item-skills li {
        background: transparent;
        color: #80868C;
        margin: 0 3px 0 0;
        padding: 0;

        &:not(:last-child)::after {
            content: ',';
            display: inline;
        }
    }

    .resume-list-item-title {
        font-size: 1.2em;
    }

    .resume-logo {
        margin-top: -3.25rem;
        position: relative;
    }

    .resume-mobile {
        display: none;
    }

    .resume-print {
        display: block;
    }

    .resume-screen {
        display: none;
    }

    .resume-section-header {
        font-size: 1.2em;
        margin: 0 0 1rem;
        padding: 0 0 0.5rem;
    }

}
