$color-black: #1D1F20;
$color-gray: #80868C;
$color-green: #EEF3E2;

$color-dark-mode-accent-1: #343536;
$color-dark-mode-accent-2: #616263;
$color-dark-mode-accent-3: #8E8F90;
$color-dark-mode-accent-4: #E8E9E9;