@import "../../constants/styles/breakpoints";
@import "../../constants/styles/colors";

.contact {
    align-items: center;
    display: flex;
    min-height: calc(100vh - 349px);
    text-align: center;

    & > div {
        width: 100%;
    }
}

.contact-buttons {
    display: block;
    margin: 0 auto;
    text-align: center;

    @include breakpoint-medium() {
        background: $color-black;
        padding: 48px;
    }
}

.contact-button {
    border: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
    padding: 24px;
    position: relative;
    line-height: 24px;
    transform: translateX(0) translateY(0);
    transition: transform 0.2s ease;

    &:active, &:hover, &:visited {
        color: #fff;
        display: flex;
        line-height: 24px;
    }

    &:hover {
        transform: translateX(6px) translateY(-6px);

        &::after, &::before {
            display: block;
        }
    }

    &::after {
        background: #fff;
        bottom: -12px;
        content: '';
        display: none;
        height: 6px;
        left: -6px;
        position: absolute;
        width: 100%;
    }

    &::before {
        background: #fff;
        bottom: auto;
        content: '';
        display: none;
        height: calc(100% + 6px);
        left: -12px;
        opacity: 1;
        position: absolute;
        right: auto;
        top: 6px;
        width: 6px;
    }

    & + .contact-button {
        margin-top: 36px;
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.contact-button--fb {
    background: #2998ff;
}

.contact-button--in {
    background: #0077b5;
}

.contact-button--tw {
    background: #1da1f2;
}

.contact-header {
    text-align: center;
}