$breakpoint-mobile-small: 30rem;
$breakpoint-mobile: 37.5rem;
$breakpoint-medium: 48rem;
$breakpoint-desktop: 64rem;
$breakpoint-desktop-max: 88rem;
$breakpoint-desktop-max-padded: 90rem;
$breakpoint-height: 40rem;
$breakpoint-height-tall: 60rem;

$font-family: 'HaboroSans', Avenir, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
